h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: black;
  z-index: 10;
  margin: 0;
  padding: 0;
  font-size: 23px;
}

.search {
  position: absolute;
  top: 1rem;
  left: 35%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 250px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 4px;
}

.searchPoke {
  position: absolute;
  top: 1rem;
  left: 100%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;
  display: flex;
}

.searchPoke button {
  margin-left: 20px;
  height: min-content;
  padding: 7px;
  border-radius: 4px;
  margin-top: 7px;
}

.searchPoke span {
  font-size: 16px;
  margin-top: 14px;
}

.searchPoke img {
  margin-top: -20px;
}

.input {
  display: flex;
}

.inputSearch {
  max-width: 250px;
}

.searchPoke input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 4px;
}

li {
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  font-size: 1.1rem;
  width: 100%;
  background: #fff;
  max-width: 250px;
  border: 1px solid #5f423b;
}

li:hover {
  margin-left: 1.2rem;
  background-color: beige;
  transition: all 0.2s;
  cursor: pointer;
  border: 1px solid #ff3300;
}

.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}

.locate h2 {
  width: 30px;
  cursor: pointer;
}

.banner {
  width: 100%;
  position: absolute;
  height: 80px;
  background: #000;
  z-index: 1;
  opacity: 0.5;
}
